{% extends "main/layout.html" %}
{% load static %}

{% block content %}
    <body>
        <nav><p class="word_new1"><a href='{% url 'home' %}'>
            <i class="bi bi-house-door-fill"></i>Главная</a>
            <a href='{% url 'first' %}'>
             Пресмыкающиеся</a>
         <a href='{% url 'second' %}'>Земноводные</a>
             <a href='{% url 'third' %}'>Млекопитающиеся</a></p></nav>
        <h2 class="title2">Происхождение</h2>
        <p class="text">Происхождение рептилий — один из важных вопросов в теории эволюции, процесс, в результате которого появились первые животные, относящихся к классу пресмыкающихся (Reptilia).
            <br>
        При раскопках обнаружены скелеты древних пресмыкающихся, при изучении которых были выявлено их сходство с древними земноводными. У древних рептилий не было грудной клетки. Это может служить доказательством происхождения пресмыкающихся от земноводных. Происхождение пресмыкающихся обусловлено такими ароморфозами как ороговение кожи, легочное дыхание, внутреннее оплодотворение, появление грудной клетки. Огромных размеров достигали многие виды из вымершей группы динозавров. Например, бронтозавр достигал 17 м и относился к растительноядным животным.
        </p>
        <div class="img3"><img src="{% static 'main/img/bronto.jpg' %}"  width="600" height ="400"></div>
        <p class="text">К хищным динозаврам относится тираннозавр. Эти древние животные очень быстро перемещались на сильных задних ногах. Догнав свою жертву, они разрывали ее на куски.</p>
        <div class="img3"><img src="{% static 'main/img/rex.jpg' %}"  width="600" height ="400"></div>
        <p class="text">К отряду зверозубые ящеры относились животные, у которых ноги находились под туловищем, в отличие от других. Этот признак сближает их с млекопитающими.
        <br>
        Доказательством происхождения млекопитающих от пресмыкающихся служит сходство во внешнем и внутреннем строении, однако есть и различия.
        <br> Млекопитающие теплокровные животные, для
        них характерно живорождение и наличие млечных желез.
        <br>
        Доказательством происхождения птиц от пресмыкающихся могут служить следующие признаки:
        </p>
        <ul class="text">
            <li>Кожа не имеет желез</li>
            <li>Есть роговые чешуйки</li>
            <li>Строение яиц</li>
        </ul>
        <p class="text">В жизненной борьбе оказались более стойкими благодаря своим прогрессивным признакам птицы и млекопитающие, сменившие рептилий и давшие начало новому периоду жизни на земле – веку птиц и <a href="third_page">млекопитающих.</a>
        </p>

        <h2 class="title2">Образ жизни</h2>
        <p class="text">Благоприятными условиями для жизни пресмыкающихся считается тепло, поэтому они распространены в странах с тропическим и субтропическим климатом.
        <br>
        Полярный круг переходят лишь немногие формы. В горных странах могут встречаться довольно высоко. Пресмыкающиеся преимущественно ведут наземный образ жизни. Пресмыкающиеся - холоднокровные, поэтому их жизнь полностью зависит от температуры окружающей среды. При теплой погоде они проявляют высокую активность, в холодных погодных условиях активность снижается.<br>
        В период холодов они впадают в спячку. Это является своеобразным приспособлением пресмыкающихся к жизни на суше в умеренном климате.
        </p>


        <h2 class="title2">Размножение и развитие</h2>
        <p class="text">Размножение и развитие пресмыкающихся осуществляется на суше. Для осуществления размножения пресмыкающиеся стараются найти себе пару. Для этого самец пытается привлечь внимание самки громким криком, сменой окраски, а еще могут выделять специальное вещество, которое очень сильно пахнет. Например, у крокодилов такое вещество выделяет самцы, а вот у змей – самки. С помощью запаха они объявляют о готовности к размножению. Очень интересны любовные игры змей – они исполняют удивительные танцы в этот период.
        </p>
        <div class="img3"><img src="{% static 'main/img/snake.jpg' %}"  width="600" height ="400"></div>
        <p class="text">Яйца рептилий крупные, сверху покрыты кожистой оболочкой или известковой скорлупой. Внутри находится желток, представляющий собой запас питательных веществ. Развитие зародыша пресмыкающихся происходит благодаря питательному веществу. Отличием развития земноводных и пресмыкающихся является то, что детеныш рептилий похож на взрослое животное.
        </p>
        <div class="img3"><img src="{% static 'main/img/small_snakes.jpg' %}"  width="600" height ="400"></div>


        <h2 class="title2">Хозяйственное значение</h2>
        <p class="text">Значение пресмыкающихся для человека сравнительно невелико. Кожа крокодилов, крупных змей и ящериц применяется в кожевенной промышленности для изготовления чемоданов, ремней, обуви и т. п., однако эти предметы носят эксклюзивный характер, являясь предметом роскоши. Мясо и яйца многих черепах употребляются в пищу. Также могут употребляться в пищу некоторые ящерицы и змеи. Змеиный яд находит применение в медицине. Многие змеи полезны истреблением грызунов, а ящерицы — насекомых. Некоторые виды пресмыкающихся держат в качестве домашних животных. Аллигаторы, кайманы и некоторые крокодилы иногда разводятся на специальных фермах, для получения мяса, яиц и кожи.

        Большую опасность для людей представляют ядовитые змеи, особенно в тропических странах. Многие крокодилы опасны для человека, наносят значительный ущерб животноводству. Пресноводные черепахи вредят рыбному промыслу. Крупные вараны, питоны и удавы так же могут быть опасны, будучи способными травмировать или даже убить человека.

</p>
        <p class="link"><a href="#top"><span>Наверх</span></a></p>
    </body>
{%endblock%}
