{% extends "main/layout.html" %}
{% load static %}

{% block content %}
<title>All about Animals</title>
<body>

  <a href='{% url 'base_home' %}'><p class="text">Форум</p></a>

          <h1 class="title">Всё о животных</h1>
        <p class="text">Здесь вы сможете узнать о многих животных. Например,слово <span class="word">живо́тные</span> (лат. Animalia) — <strong>традиционно (со времён Аристотеля) выделяемая категория организмов, в настоящее время рассматриваемая в качестве биологического царства.</strong> Животные являются основным объектом изучения зоологии.<br>
        Животные относятся к эукариотам (в клетках имеются ядра). Классическими при знаками животных считаются: гетеротрофность (питание готовыми органическими соединениями) и способность активно передвигаться. Впрочем, существует немало животных, ведущих неподвижный образ жизни, а гетеротрофность свойственна грибам и некоторым растениям-паразита.</p>


         <h2  class="title2">Пресмыкающиеся</h2>
         <p class="text"><span class="word">Пресмыка́ющиеся</span>, или <em>репти́лии</em> (лат. Reptilia), — <strong>традиционно выделяемый класс преимущественно наземных позвоночных животных из клады амниот, включающий современных черепах, крокодилов, клювоголовых и чешуйчатых.</strong>
         <br>
         В отличие от земноводных – мокрых и скользких на ощупь, у пресмыкающихся кожа всегда сухая. Это помогает сохранять влагу внутри организма, что особенно важно для обитателей засушливых областей.
         <br>
         Рептилии наделены прекрасно защищенной кожей от внешних воздействий, в том числе от палящего солнца, кожа покрыто чешуйками. Змеи и ящерицы периодически линяют, то есть сбрасывают кожный покров, из которого они выросли, а затем обрастают новой кожей.
         <br>
         Почти все животные класса пресмыкающиеся окрашены в соответствии с цветовой гаммой окружающей среды, чтобы не стать легкой добычей для хищников, и чтобы самим не быть слишком заметными для своих жертв.</p>
         <div class="img"><img src="{% static 'main/img/Animal.jpeg' %}"></div>

         <p class="text">Например, самый известный хамелеон прославился тем, что может менять окраску в зависимости от многих факторов – температуры, влажности, чувства жажды, эмоционального состояния.</p>
         <a href="first_page"><p class="link">Если хотите узнать больше о Пресмыкающихся, переходите по ссылке</p></a>
         <p class="link"><a href="#top"><span>Наверх</span></a></p>



         <h2 class="title2">Земноводные</h2>
         <p class="text"><span class="word">Земноводные</span>, или <em>амфибии</em> (от греч. amphi - два и bios - жизнь), - <strong>это животные, ведущие двоякий образ жизни. Многие из них приспособились к жизни и на земле и в воде.</strong> Рождаются земноводные в основном в воде в виде головастиков и дышат жабрами. Далее происходит процесс, названный метаморфозом и головастики становятся взрослыми животными, которые уже способны к жизни на суше.
        <br>
         Лягушки, квакши (или древесницы) и жабы составляют самую крупную и известную группу амфибий. Они встречаются и в полных испарений тропических дождевых лесах, и в холодных северных болотах. Некоторые виды обитают и в полупустынях.</p>
        <div class="img2"><img src="{% static 'main/img/frog.jpg' %}"  width="400" height ="400"></div>
         <p class="text">
         Вторую по значению группу составляют длиннохвостые, похожие на ящериц саламандры и тритоны, встречающиеся в основном в более прохладных Sрегионах Северного полушария. Они прячутся под камнями и упавшими деревьями, чтобы уберечь свою тонкую кожу от высыхания.
        <br>
         И последняя группа - живущие в тропиках червяги, которые вообще не очень вписываются в представления об амфибиях. Эти загадочные червеобразные существа в большинстве своем живут под землей.</p>
         <a href="second_page"><p class="link">Если хотите узнать больше о Земноводных, переходите по ссылке</p></a>
         <p class="link"><a href="#top"><span>Наверх</span></a></p>



         <h2 class="title2">Млекопитающиеся</h2>
         <p class="text"><span class="word">Млекопитающие</span> – <strong>это класс позвоночных животных, которые выделяются по основному признаку: их детеныши вскармливаются молоком.</strong>Также они имеют позвоночник и ряд других индивидуальных особенностей.
         <br>
         На сегодняшний день насчитывается большое количество видов млекопитающих, существующих на данный момент.По подсчётам биологов, известно более 6400 современных видов млекопитающих, среди которых и вид Человек разумный, общее же число видов млекопитающих, включая вымершие, превышает 20 000.
         Млекопитающие распространены почти повсеместно.</p>
         <div class="img3"><img src="{% static 'main/img/tiger.jpg' %}"  width="600" height ="400"></div>
         <p class="text">
         К млекопитающим относят ныне живущих однопроходных, сумчатых и плацентарных, а также большое число вымерших групп. Современные виды, входящие в класс млекопитающих, объединяют в 26—29 отрядов</p>
         <a href="third_page"><p class="link">Если хотите узнать больше о Млекопитающих, переходите по ссылке</p></a>
         <p class="link"><a href="#top"><span>Наверх</span></a></p>


</body>
{% endblock %}
