{% extends "main/layout.html" %}
{% load static %}

{% block content %}
     <body>
        <nav><p class="word_new1"><a href='{% url 'home' %}'>
          <i class="bi bi-house-door-fill"></i>Главная</a>
            <a href='{% url 'first' %}'>
             Пресмыкающиеся</a>
         <a href='{% url 'second' %}'>Земноводные</a>
             <a href='{% url 'third' %}'>Млекопитающиеся</a></p></nav>
        <h2  class="title2">Общая характеристика</h2>
         <p class="text">Современная фауна земноводных, или амфибий, немногочисленна — менее 2 тыс. видов. В течение всей жизни или хотя бы в личиночном состоянии земноводные обязательно связаны с водной средой, так как их яйца лишены оболочек, предохраняющих от иссушающего действия воздуха. Взрослые формы для нормальной жизнедеятельности нуждаются в постоянном увлажнении кожи, поэтому обитают лишь вблизи водоемов или в местах с высокой влажностью.<br>
         Лягушка — земноводное (не пресмыкающееся), типичный представитель класса амфибий, на примере которой и дается обычно характеристика класса. Лягушка имеет короткое туловище без хвоста, удлиненные задние конечности с плавательными перепонками. Передние конечности, в отличие от задних, имеют значительно меньшие размеры; на них четыре пальца вместо пяти.</p>
         <h2  class="title2">Образ жизни</h2>
         <p class="text">
         Большинство земноводных проводит жизнь во влажных местах, чередуя пребывание на суше и в воде, однако есть некоторые чисто водные виды, а также виды, проводящие жизнь исключительно на деревьях. Недостаточная приспособленность земноводных к обитанию в наземной среде обусловливает резкие изменения их образа жизни в связи с сезонными изменениями условий существования. Земноводные способны впадать в длительную спячку при неблагоприятных условиях (холода, засуха и т. п.). У некоторых видов активность может меняться с ночной на дневную при понижении температуры ночью. Земноводные активны только в тёплых условиях. При температуре +7 — +8 °C большинство видов впадают в оцепенение, а при −2 °C — погибают. Но некоторые земноводные способны переносить длительное замораживание, пересыхание, а также регенерировать значительные утраченные части тела.
             <br>
         Некоторые земноводные, например жаба-ага Bufo marinus и крабоядная лягушка, Fejervarya cancrivor могут жить в солёной воде. Однако большинство амфибий встречается только в пресной воде. Поэтому они отсутствуют на большинстве океанических островов, где условия для них в принципе благоприятны, но добраться до которых они самостоятельно не могут.
         </p>

         <h2  class="title2">Происхождение</h2>
          <p class="text">
         Позвоночные начали заселять сушу 370 млн. лет назад (в конце девонского периода истории Земли). Это произошло на десятки миллионов лет позднее того периода, когда на суше объявились членистоногие – первые наземные обитатели нашей планеты. В девонский период в морях и пресноводных бассейнах царствовала группа Кистепёрых рыб. Именно эти животные дали начало всем наземным позвоночным. Поначалу кистепёрые рыбы могли оставлять воду лишь на самое непродолжительное время. Разумеется, передвигались они весьма неуклюже, извиваясь наподобие змеи. Это было своего рода «плаванием» по суше.<br>
         Должно было пройти очень много времени, прежде чем рыбьи плавники кистепёрых превратились в конечности наземных животных. Одновременно у них развивались и другие органы, например, лёгкие. Первые амфибии – ихтиостеги – имели в своём строении ещё много признаков рыб, о чём и говорит их название. Сходство между кистепёрыми и амфибиями проявляется, прежде всего, в строении их скелетов (черепов и конечностей). Эти животные метровой длины имели боковую линию, хвост с плавником, но их конечности и пояса конечностей были построены по типу наземных животных. Скорее всего, ихтиостеги жили в воде, не покидая её надолго.
         </p>
         <div class="img3"><img src="{% static 'main/img/Ihtiostega.jpg' %}"  width="500" height ="350"></div>
         <p class="text">Прогрессивная эволюция амфибий, начавшись в девоне, продолжалась в каменноугольном и частично в пермском периодах. Многообразие их форм возрастало, но все древние амфибии обитали либо в заболоченных местах, либо в пресных водоёмах.
            <br>
         Они передвигались по суше с помощью парных конечностей, а дышали с помощью развивавшихся лёгких и кожи. Число и расположение костей в брюшном плавнике рыбы и в задней конечности ихтиостеги практически совпадают. У ихтиостеги передний (плечевой) пояс непосредственно сочленён с позвоночником вместо того, чтобы быть слитым с черепом.
             <br>
         Тазовый пояс также соединился с позвоночником, чтобы эффективнее поддерживать тело животного. Ископаемые останки передней ноги ихтиостеги до сих пор не найдены, однако, судя по массивным костям и углу расположения локтевого сустава, её передние конечности, скорее всего, напоминали передние ласты морского котика или морского льва.
             <br>
         Ихтиостеги дали начало двум основным ветвям земноводных, различающихся по строению черепа и конечностей. В позднем девоне появились лабиринтодонты, названные так из-за наличия складок в зубной ткани. Внешне они были похожи на крокодилов или саламандр. К настоящему времени известны сотни родов лабиринтодонтов, обитавших в заболоченных лесах, реках и озёрах конца палеозоя – начала мезозоя. От лабиринтодонтов в карбоне произошли батрахозавры или лягушкоящеры – вероятные предки пресмыкающихся.</p>


         <h2  class="title2">Значение земноводных</h2>

         <p class="text">По видовому составу класс Земноводные занимает очень скромное место. Несмотря на это, численность амфибий во всех подходящих для них местах оказывается огромной. Вспомним многоголосые лягушачьи концерты или количество жаб, выползающих в сумерки в тёплую дождливую погоду на огородные грядки. Такая высокая численность объясняется более надёжным, чем у рыб, способом размножения, различными защитными приспособлениями и сравнительным долголетием этих животных. В соответствии с численностью их особей, значение земноводных велико.</p>
              <div class="img"><img src="{% static 'main/img/frogs.jpg' %}"  width="500" height ="400"></div>
         <p class="text">
        Подобно другим животным, входящим в состав биогеоценозов, амфибии являются объектами питания хищников и включаются в общий биологический круговорот живого вещества. В начале лета головастики, которыми кишат многие водоёмы, поедаются как собственными родителями, так и рыбами, ужами, птицами. За лягушками охотятся выдра, выхухоль и другие животные. Наконец, отметим, что в Италии и во Франции обыкновенные зелёные лягушки оправдывают научное название, которое им дал ещё К. Линней, – «лягушка съедобная»: их мясо, которое гурманы сравнивают с мясом молодых цыплят, употребляют в пищу…
             </p>
              <div class="img3"><img src="{% static 'main/img/food.jpg' %}"  width="600" height ="400"></div>
         <p class="text">
        Питаясь главным образом насекомыми, земноводные уничтожают огромное количество различных вредителей: жабы – в садах и огородах, лягушки – на лугах и в лесу. Истребляя значительное количество насекомых и их личинок, амфибии сдерживают массовое размножение вредителей – насекомых и моллюсков. Охотясь в сумерках и ночью, они в это время суток успешно заменяют насекомоядных птиц.</p>
        <p class="link"><a href="#top"><span>Наверх</span></a></p>
    </body>
{%endblock%}
