{% extends "main/layout.html" %}
{% load static %}

{% block content %}
     <body>
         <div>
         <nav><p class="word_new1"><a href='{% url 'home' %}'>
             <i class="bi bi-house-door-fill"></i>Главная</a>
            <a href='{% url 'first' %}'>
             Пресмыкающиеся</a>
         <a href='{% url 'second' %}'>Земноводные</a>
             <a href='{% url 'third' %}'>Млекопитающиеся</a></p></nav>
         <h2  class="title2">Происхождение</h2>
         <p class="text">Расцвет млекопитающих пришёлся на юрский и меловой периоды. Однако первые признаки происхождения млекопитающих относятся к пермскому периоду до появления динозавров.<br>
             Предками млекопитающих являются пресмыкающиеся. Об этом свидетельствует ряд доказательств:
         </p>
         <ol class="text">
             <li>одинаковое эмбриональное развитие</li>
             <li>сходное расположение систем органов</li>
             <li>аналогичное строение скелета, но у пресмыкающихся конечности разведены в стороны</li>
             <li>сходное строение сердца – в желудочке рептилий неполная перегородка (у крокодилов – полная)</li>
             <li>шерсть является видоизменённой чешуёй</li>
             <li>наличие когтей, рогов у рептилий и зверей</li>
             <li>роговые чешуйки на хвостах бобров, мышей, крыс сходны с чешуёй рептилий</li>
         </ol>



         <h2  class="title2">Общие признаки</h2>
         <p class="text">Хищные животные питаются разнообразно. То есть помимо своего основного деликатеса — мяса, часть употребляет в пищу растительность, насекомых и беспозвоночных. Активно ведут охоту на позвоночных. Некоторые виды выходят в темное время суток, кто-то предпочитает с утра.</p>
          <div class="img3"><img src="{% static 'main/img/water.jpeg' %}"  width="600" height ="400"></div>

         <p class="text">
         Они наделены прекрасным слухом и обонянием. Усы(вибриссы) служат, как антенны. Одни загоняют жертву в тупик, неустанно преследуя, другие подкрадываются незаметно.Тигры охотятся в одиночку, волки стаями. Роль хищных животных в природе важна, так как они истребляют больных и раненых парнокопытных.
         </p>


         <h2  class="title2">Общие признаки</h2>
         <p class="text">
         Основной особенностью данного класса позвоночных является вскармливание потомства молоком. Однако это не единственное отличие зверей от других животных.
         </p>
         <ul class="text">
             <li>на голове расположены ушные раковины</li>
             <li>поверхность тела покрыта шерстью</li>
             <li>кожный покров достаточно толстый и имеет большое количество сальных и потовых желёз</li>
             <li>на теле имеются роговые производные (когти, копыта, рога)</li>
         </ul>
         <p class="text">лавную роль в терморегуляции организма имеет кожный покров. За счёт обильного снабжения его кровью, кровеносные сосуды расширяются и сужаются рефлекторно в зависимости от окружающих раздражителей.
         Волосяной покров характерен для всех видов, однако некоторые представители класса утратили или видоизменили его из-за способности приспосабливаться к условиям окружающей среды.
         <br>
         Киты и дельфины лишены волосяного покрова, так как обитают в воде. А слоны не имеют шерсти в связи с обитанием в жарких условиях.
         </p>
         <div class="img3"><img src="{% static 'main/img/dolph.jpg' %}"  width="600" height ="400"></div>

         <p class="text">
         Волосы млекопитающих разделяют на три типа: подшёрсток, остевые и чувствительные (вибриссы). Шерсть различных млекопитающие имеет свои особенности. Например, крот практически лишён остевых волос, а олени не имеют подшёрстка.
         </p>

         <h2  class="title2">Значение в природе и в жизни человека</h2>
         <p class="text">Млекопитающие играют очень важную роль в природных сообществах. Это определяется высоким уровнем процессов их жизнедеятельности. А также большой подвижностью.
             <br>

         Млекопитающие являются основными звеньями цепей питаниясамых разнообразных сообществ живых организмов. Так, многие млекопитающие, которые питаются растениями, оказывают существенное воздействие на рост и развитие растительных комплексов, на соотношение в них различных видов растений.<br>
         Например, некоторые грызуны, обитающие на лугах и пастбищах, выедают ценные кормовые травы, на месте которых вырастают другие, менее ценные сорные растения.
             <br>
         Многие звери, поедая семена и плоды, часть которых не переваривается, способствуют распространению этих растений.
             <br>
         При заготовке белкой на зиму опавших желудей и орехов часть их теряется по дороге, и таким образом переносится на достаточно далёкие расстояния. Таким же способом полёвки распространяют семена злаковых растений.</p>
         <div class="img3"><img src="{% static 'main/img/belka.jpg' %}"  width="600" height ="400"></div>
         <p class="text">
         Млекопитающие играют важную роль и в жизни человека.
             <br>
         Охота представляет собой одну из древнейших форм хозяйственной деятельности человека.
             <br>
         Анализ костей животных, найденных на стоянках древних людей, показывает, что в то время основными объектами охоты были антилопы, дикие быки, тапиры, гиппопотамы, слоны, зубры,  олени, кабаны, дикие лошади и мамонты. Эти звери служили источником мяса, жира и шкур для изготовления одежды.
        <br>
         Сейчас охота на диких млекопитающих перестала быть основой хозяйства, но сохраняет определённую значимость до сих пор.
            <br>
         В настоящее время огромную роль играет такая отрасль сельского хозяйства, как животноводство. Оно предполагает разведение млекопитающих как сельско-хозяйственных животных.
             <br>
         Человек разводит коров, лошадей, коз, овец, свиней и кроликов. Их разведение и выращивание обеспечивает человека ценными пищевыми продуктами: мясом, молоком и жиром.</p>
         <div class="img3"><img src="{% static 'main/img/horse.jpg' %}"  width="600" height ="400"></div>
          <p class="link"><a href="#top"><span>Наверх</span></a></p>
         </div>
    </body>
{%endblock%}
